<a href="https://colab.research.google.com/github/Animeshsinghiit/Machine-learning-practises/blob/main/california_housing_gridsearch_hyperparameter_tuning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [183]:
import pandas as pd
import numpy as np
y_true = [7, 4, 9, 4]
y_pred = [8, 7, 12, 5]

In [184]:
from sklearn.metrics import explained_variance_score

In [185]:
explained_variance_score(y_true,y_pred)

0.7777777777777778

In [186]:
from sklearn.datasets import fetch_california_housing
from sklearn.linear_model import SGDRegressor, Ridge, Lasso
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [187]:
feature,label=fetch_california_housing(as_frame=True, return_X_y=True)

In [188]:
feature.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [189]:
x_train,x_test,y_train,y_test=train_test_split(feature,label,random_state=1,train_size=0.7)

In [190]:
x_train.shape

(14447, 8)

In [191]:
x_test.shape

(6193, 8)

In [192]:
y_train.shape

(14447,)

In [193]:
y_test.shape

(6193,)

In [194]:
scaler=StandardScaler(with_mean=True,with_std=True)

In [195]:
x_train_norm = pd.DataFrame(scaler.fit_transform(x_train),columns = x_train.columns)
x_test_norm = pd.DataFrame(scaler.fit_transform(x_test),columns = x_test.columns)

In [196]:
x_train_norm.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,-0.367827,0.988420,-0.404809,-0.085560,0.202760,0.041364,-0.856732,0.653228
1,-0.721007,1.624431,-0.213302,-0.265816,-0.122743,-0.033797,0.524677,-0.089244
2,-0.705434,-1.078614,0.393012,0.646713,1.007670,-0.059258,-0.734981,1.500343
3,0.334188,-1.714624,-0.055679,0.006793,0.274405,-0.046266,0.763496,-1.125714
4,-0.504639,0.352410,-0.237535,-0.014342,0.253177,0.009082,-0.720932,0.742922

In [197]:
x_test_norm.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,-0.320057,0.808914,-0.407927,-0.050898,-0.271649,-1.108472,-0.738128,0.604754
1,-0.979951,0.650179,-0.190858,-0.137912,-0.241739,-0.320322,0.534790,-0.106777
2,0.076004,1.364488,-0.418172,-0.203966,0.102222,0.786357,0.979376,-1.429624
3,-1.217421,1.840694,-0.674091,0.051869,-1.071291,-0.614561,1.016815,-1.359473
4,0.681253,0.650179,-0.004022,-0.173006,-0.621767,-0.412381,-0.850445,0.720002

In [198]:
sgd=SGDRegressor(loss='squared_error',penalty='l1',alpha=0.01,random_state=1)

In [199]:
model=sgd.fit(x_train_norm,y_train)

In [200]:
y_predict=model.predict(x_test)

In [201]:
y_predict

array([72.27893687, 69.93260274, 73.80989069, ..., 68.68528273,
       70.03842363, 69.2748135 ])

In [202]:
y_test.shape

(6193,)

In [203]:
from sklearn.metrics import r2_score
model.score(x_test_norm,y_test)

0.5917675215743735

In [204]:
 X = [[1, 2], [3, 4], [1, 2], [3, 4]]

In [205]:
from sklearn.model_selection import RepeatedKFold,GridSearchCV

In [206]:
rkf=RepeatedKFold(n_splits=2,n_repeats=2,random_state=1)

In [207]:
d=rkf.split(X)

In [208]:
for train,test in d:
  print(train,test)

[0 1] [2 3]
[2 3] [0 1]
[1 3] [0 2]
[0 2] [1 3]

In [212]:
param_grid={
    'alpha':[0.5,0.1,0.05,0.01,0.005,0.001],
}

In [213]:
clf=GridSearchCV(Ridge(),param_grid=param_grid,cv=4,return_train_score=True)

In [217]:
clf.fit(x_train_norm,y_train)

GridSearchCV(cv=4, estimator=Ridge(),
             param_grid={'alpha': [0.5, 0.1, 0.05, 0.01, 0.005, 0.001]},
             return_train_score=True)

In [219]:
results1=pd.DataFrame(clf.cv_results_)

In [221]:
results1

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_alpha,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,mean_test_score,std_test_score,rank_test_score,split0_train_score,split1_train_score,split2_train_score,split3_train_score,mean_train_score,std_train_score
0,0.008995,0.006702,0.002322,0.000211,0.5,{'alpha': 0.5},0.627277,0.598010,0.609975,0.583690,0.604738,0.015998,1,0.60339,0.613329,0.60854,0.616006,0.610316,0.004811
1,0.004628,0.000253,0.002155,0.000007,0.1,{'alpha': 0.1},0.627285,0.598011,0.609979,0.583661,0.604734,0.016010,2,0.60339,0.613329,0.60854,0.616006,0.610316,0.004811
2,0.004430,0.000067,0.002197,0.000093,0.05,{'alpha': 0.05},0.627286,0.598011,0.609979,0.583658,0.604733,0.016012,3,0.60339,0.613329,0.60854,0.616006,0.610316,0.004811
3,0.004612,0.000096,0.002217,0.000061,0.01,{'alpha': 0.01},0.627287,0.598011,0.609979,0.583655,0.604733,0.016013,4,0.60339,0.613329,0.60854,0.616006,0.610316,0.004811
4,0.004546,0.000121,0.002163,0.000031,0.005,{'alpha': 0.005},0.627287,0.598011,0.609979,0.583654,0.604733,0.016013,5,0.60339,0.613329,0.60854,0.616006,0.610316,0.004811
5,0.004472,0.000033,0.002162,0.000007,0.001,{'alpha': 0.001},0.627287,0.598011,0.609980,0.583654,0.604733,0.016013,6,0.60339,0.613329,0.60854,0.616006,0.610316,0.004811

In [222]:
clf.best_score_

0.6047379976849147

In [223]:
clf.best_params_

{'alpha': 0.5}

In [224]:
param_grid2={
    'alpha':[0.5,0.1,0.05,0.01,0.005,0.001],
}

In [225]:
clf2=GridSearchCV(Lasso(),param_grid=param_grid2,cv=6,return_train_score=True)

In [226]:
clf2.fit(x_train_norm,y_train)

GridSearchCV(cv=6, estimator=Lasso(),
             param_grid={'alpha': [0.5, 0.1, 0.05, 0.01, 0.005, 0.001]},
             return_train_score=True)

In [227]:
clf2.best_score_

0.6050663462318496

In [228]:
clf2.best_params_

{'alpha': 0.001}